#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-stg.xcconfig"
#include "Generated.xcconfig"
#include "common.xcconfig"

X_FLAVOR_NAME=stg
X_FLAVOR_BUNDLE_SUFFIX=.stg

X_FLAVOR_APP_NAME=STG-$(X_APP_NAME)
X_FLAVOR_BUNDLE_DISPLAY_NAME=STG-$(X_BUNDLE_DISPLAY_NAME)
X_FLAVOR_BUNDLE_ID=$(X_BUNDLE_IDENTIFIER)$(X_FLAVOR_BUNDLE_SUFFIX)

X_FLAVOR_APP_ICON=AppIcon-$(X_FLAVOR_NAME)

FLUTTER_TARGET=lib/main_$(X_FLAVOR_NAME).dart
